*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.hero{
    display: flex;
    position: relative;
    width: 100%;
    height: 100vh;
    background: #000220;
}

.logo{

        position: absolute;
        top: 0;
        left: 0;
        height: 90x;
        width: 15%;
}


/*navbar*/
.n{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 50px;
    background: rgba(0, 0, 0, 0.2);
    z-index: 1;
    
}

.nav{
    display: flex;
    justify-content: right;
    list-style: none;
    margin-right: 15%;
}

.hero a{
    margin: 15px;
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
}

.hero a:hover{
    color: #000;
}

.n ul li{
    font-family: century;
    font-size: 1.1rem;
    font-weight: bold;
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

.n ul li a{
    text-decoration: none;
    color: white;
    padding: 8px 25px;
    transition: all .5c ease-in-out;
}

.n ul li a:hover{
    background-color: white;
    color: black;
    box-shadow: 0 0 10px white;
}

html{
    scroll-behavior: smooth;
}

/*home section*/
.detel{
    margin-left: 8%;
    margin-top: 15%;
}

.detel h1{
    font-size: 50px;
    color: #92a3a3;
    margin-bottom: 20px;
}

span{
    color: orange;
}

.detel p{

    color: #a39298;
    line-height: 22px;
}

.detel a{
    display: flex;
    flex-direction: column;
    background: #212121;
    padding: 10px 18px;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    display: inline-block;
    margin: 30px 0;
    border-radius: 5px;
}
.detel a:hover{
    cursor: pointer;
    background-color: orange;
    color: black;
    box-shadow: 0 0 5px orange, 0 0 10px orange;
}

.images{
    width: 45%;
    height: 80%;
    position: absolute;
    bottom: 0;
    right: 100px;
}

.images img{
    height: 100%;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    transition: bottom 1s, left 1s;
}

.images:hover .shape{
    bottom: 40px;
}

.images:hover .girl{
    left: 45%
}

.heading{
    color: orange;
    font-size: 3rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    transform: scale(1,1.3);
}



/*skils section*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/*portfolio section*/
#portfolio{
    display: flex;
    flex-direction: column;
    height: 650px;
    justify-content: center;
    align-items: center;
    background-color: #000220;
}

.skills-bar{
    width: 600px;
    background: #fff;
    border-radius: 10px;
    padding: 25px 30px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.skills-bar .bar{
    margin: 20px 0;
}

.skills-bar .bar:first-child{
    margin-top: 0px;
}

.skills-bar .bar .info{
    margin-bottom: 5px;
}

.skills-bar .bar .info span{
    font-size: 17px;
    font-weight: 500;
}

.skills-bar .bar .progress-line{
    position: relative;
    height: 10px;
    width: 100%;
    background: #f0f0f0;
    border-radius: 10px;
    transform: scaleX(0);
    transform-origin: left;
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5),
                      0px 1px rgba(255, 255, 255, 0.8);
    animation: animate 1s cubic-bezier(1,0,0.5,1) forwards;
}

.bar .progress-line span{
    height: 100%;
    width: 80%;
    background: #6665ee;
    position: absolute;
    border-radius: 10px;
    transform: scaleX(0);
    transform-origin: left;
    animation: animate 1s 1s cubic-bezier(1,0,0.5,1) forwards;
}

@keyframes animate{
    100%{
        transform: scaleX(1);
    }
}

.progress-line.cc span{
    width: 35%;
}

.progress-line.python span{
    width: 50%;
}

.progress-line.java span{
    width: 30%;
}

.progress-line.html span{
    width: 70%;
}


.progress-line.css span{
    width: 55%;
}

.progress-line.ml span{
    width: 30%;
}

.progress-line.ux span{
    width: 32%;
}

.progress-line.mysql span{
    width: 25%;
}


.bar .progress-line span::before{
    position: absolute;
    content: "";
    right: 0;
    top: -10px;
    height: 0;
    width: 0;
    border: 7px solid transparent;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-top-color: #000;
}


.bar .progress-line span::after{
    position: absolute;
    right: 0;
    top: -28px;
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    background: #000;
    padding: 1px 8px;
    border-radius: 3px;
}

.progress-line.cc span::after{
    content: "35%";
}

.progress-line.python span::after{
    content: "50%";
}

.progress-line.java span::after{
    content: "30%";
}

.progress-line.html span::after{
    content: "70%";
}


.progress-line.css span::after{
    content: "55%";
}

.progress-line.ml span::after{
    content: "30%";
}

.progress-line.ux span::after{
    content: "32%";
}

.progress-line.mysql span::after{
    content: "25%";
}

/*Education Section*/

#education{
    display: flex;
    flex-direction: column;
    background-color: #000220;
}

#education h1{
    margin: 60px;
}

.columns{
    display: grid;
    grid-template-columns: auto auto;
    padding-left: 50px;
}

.box{
    height: 190px;
    width: 500px;
    background-color: rgba(255,255,255,0.1);
    border-radius: 20px;
    margin: 40px;
    padding: 10px;
}

.box h2{
    color: #d7d9e9;
    font-size: 2rem;
    margin-bottom: 30px;
    text-align: center;
    
}

.box p{
    color: #8588ae;
    font-size: 1.1rem;
}

/*About Section*/

#about{
    display: flex;
    flex-direction: column;
    height: 700px;
    background-color: #000220;
}

#about h1{
    color: orange;
    margin: 55px;
}

.about{
    display: flex;
}

.about img{
    width: 300px;
    height: 225px;
    padding: 1px 30px;
}

.name{
    padding: 10px;
}

.name h3{
    font-size: 1.2rem;
    color: #92a3a3;
}

.name h5{
    font-size: 1.3rem;
    color: #92a3a3;
}

.name p{
    font-size: 1rem;
    color: #92a3a3;

}

.name h4{
    display: flex;
    flex-direction: column;
    background: #de7d3c;
    padding: 10px 18px;
    text-decoration: none;
    font-weight: bold;
    color: rgb(19, 1, 1);
    display: inline-block;
    margin: 0 0;
    border-radius: 5px;
    align-items: center;
}
 

.skill h3{
    font-size: 1.3rem;
    color: orange;
    position: center;
}



/*contact section*/
#contact{
    display: flex;
    flex-direction: column;
    height: 70vh;
    background-color: #000220;
}
#contact h1{
    margin: 30px;
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.input{
    padding: 15px, 20px;
    margin: 15px;
    height: 7%;
    width: 40%;
    border: none;
    outline: none;
    border-radius: 25px;
}

#messege{
    margin: 15px;
    padding: 10px;
    border-radius: 20px;
}

#submit{
    padding: 15px 20px;
    margin: 30px;
    width: 15%;
    border-radius: 20px;
    font-weight: bold;
    background-color: #000000dc;
    color: white;
    border: none;
    outline: none;
    font-size: large;
}

#submit:hover{
    background-color: orange;
    color: black;
    cursor: pointer;    
    box-shadow: 0 0 5px orange, 0 0 10px orange;
}


.centerdiv{
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000220;
}

.centerdiv a{
    height: 67px;
    width: 67px;
    background-color: #cdcedb;
    border-radius: 50px;
    text-align: center;
    margin: 50px;
    line-height: 80px;
    box-shadow: 1px 4px 2px 2px #bebfce;
}

.centerdiv a i{
    transition: all 0.3s linear;
}
.centerdiv a:hover i{
    transform: scale(1.4);
}

.fa-instagram{
    color: #DD2A7B;
}
.fa-facebook{
    color: #2f4d8a;
}
.fa-linkedin{
    color: #0072b1;
}
.fa-github{
    color: #171515;
}


/*project*/

#project{
    display: flex;
    flex-direction: column;  
    background: linear-gradient(to left, #8942a8, #ba382f);
}

#project h1{
    margin: 60px;
}

.column{
    display: grid;
    grid-template-columns: auto auto;
    padding-left: 50px;
}

.bx{
    height: 230px;
    width: 500px;
    background-color: rgba(255,255,255,0.1);
    border-radius: 20px;
    margin: 40px;
    padding: 10px;
}

.bx h2{
    color: #fff;
    font-size: 2rem;
    margin-bottom: 10px;
    text-align: center;
    
}

.bx p{
    color: #bfc0d3;
    font-size: 1.1rem;
}

.headng{
    color: orange;
    font-size: 3rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    transform: scale(1,1.3);
}

.bx a{
    display: flex;
    flex-direction: column;
    background: #cd6767;
    padding: 10px 18px;
    text-decoration: none;
    font-weight: bold;
    color: rgb(19, 1, 1);
    display: inline-block;
    margin: 0 0;
    border-radius: 5px;
    align-items: center;
}
.bx a:hover{
    cursor: pointer;
    background-color: orange;
    color: rgb(217, 116, 61);
    box-shadow: 0 0 5px orange, 0 0 10px orange;
}
